<a href="https://colab.research.google.com/github/hongnhan217/AI_Class/blob/main/AI_W8_24_03_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.linear_model import Perceptron

x=[[0,0],[0,1],[1,0],[1,1]]
y=[0,1,1,1]

model=Perceptron()
model.fit(x,y)
model.score(x,y)

x1=[[0.5,0],[0,0.5],[0.6,0],[0,0.6],[-10,2],[0.1,1],[-0.3,4]]
y1=model.predict(x1)
print(y1)

[0 0 1 1 0 1 1]

In [ ]:
x=[[-0.5,-0.5],[-0.5,0.5],[0.3,-0.5],[-0.1,1]]
y=[1,1,0,0]

model=Perceptron()
model.fit(x,y)
model.score(x,y)

x1=[[0.5,0],[0,0.5],[0.6,0],[0,0.6],[-10,2],[0.1,1],[-0.3,4]]
y1=model.predict(x1)
print(y1)

[0 0 0 0 1 0 0]

In [ ]:
from sklearn import datasets
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

iris = datasets.load_iris()
X=iris.data
y=iris.target
# print(X[:5])
# print(y[:5])

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

# print(X_train,X_train_std)

model = Perceptron(max_iter=1000,eta0=0.3,random_state=0)
model.fit(X_train,y_train)
y_pred = model.predict(X_test)

print(y_pred)
print(y_test)
print('do chinh xac cua mo hinh:',accuracy_score(y_test,y_pred))

[0 0 0 0 0 2 0 0 0 0 0 2 0 2 0 2 0 2 2 0 0 2 2 0 2 2 2 0 2 0 0 0 2 2 0 0 0
 0 2 2 2 2 2 2 2]
[0 0 0 0 0 2 1 0 0 0 0 2 1 2 0 2 0 2 2 0 0 1 2 1 1 2 2 0 1 0 0 0 2 1 1 0 1
 1 2 2 2 2 2 1 2]
do chinh xac cua mo hinh: 0.7555555555555555

In [ ]:
model = Perceptron(max_iter=1000,eta0=0.3,random_state=0)
model.fit(X_train_std,y_train)
y_pred = model.predict(X_test_std)

print(y_pred)
print(y_test)
print('do chinh xac cua mo hinh:',accuracy_score(y_test,y_pred))

[0 0 0 0 0 2 1 0 0 0 0 2 1 2 0 2 0 2 1 0 0 1 2 0 1 2 2 0 2 0 0 0 2 0 1 0 2
 1 2 2 2 1 2 0 2]
[0 0 0 0 0 2 1 0 0 0 0 2 1 2 0 2 0 2 2 0 0 1 2 1 1 2 2 0 1 0 0 0 2 1 1 0 1
 1 2 2 2 2 2 1 2]
do chinh xac cua mo hinh: 0.8444444444444444

In [ ]:
import pandas as pd
import numpy as np

data = pd.read_csv("D:\Manage Files\HP\AI\Files\crabs.csv")
data.shape
data.head()

  speies sex  index  fontallip  rearwidth  length  width  depth
0      B   M      1        8.1        6.7    16.1   19.0    7.0
1      B   M      2        8.8        7.7    18.1   20.8    7.4
2      B   M      3        9.2        7.8    19.0   22.4    7.7
3      B   M      4        9.6        7.9    20.1   23.1    8.2
4      B   M      5        9.8        8.0    20.3   23.0    8.2

In [ ]:
speies = data['speies'].replace('B',0)
sex = data['sex'].replace('M',1)
data['speies']=speies
data['sex']=sex
speies = data['speies'].replace('O',1)
sex = data['sex'].replace('F',0)
data['speies']=speies
data['sex']=sex
data

     speies  sex  index  fontallip  rearwidth  length  width  depth
0         0    1      1        8.1        6.7    16.1   19.0    7.0
1         0    1      2        8.8        7.7    18.1   20.8    7.4
2         0    1      3        9.2        7.8    19.0   22.4    7.7
3         0    1      4        9.6        7.9    20.1   23.1    8.2
4         0    1      5        9.8        8.0    20.3   23.0    8.2
..      ...  ...    ...        ...        ...     ...    ...    ...
195       1    0     46       21.4       18.0    41.2   46.2   18.7
196       1    0     47       21.7       17.1    41.7   47.2   19.6
197       1    0     48       21.9       17.2    42.6   47.4   19.5
198       1    0     49       22.5       17.2    43.0   48.7   19.8
199       1    0     50       23.1       20.2    46.2   52.5   21.1

[200 rows x 8 columns]

In [ ]:
from sklearn import datasets
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

X=data.iloc[:,2:]
y=data.iloc[:,1]
# print(X[:5])
# print(y[:5])

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

# print(X_train,X_train_std)

model = Perceptron(max_iter=1000,eta0=0.3,random_state=0)
model.fit(X_train,y_train)
y_pred = model.predict(X_test)

print(y_pred)
print(y_test)
print('do chinh xac cua mo hinh:',accuracy_score(y_test,y_pred))

[1 0 0 0 0 1 1 1 1 1 1 1 0 0 0 0 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 0 1 1 1 1
 1 1 0 1 0 1 0 1 1 0 1 0 1 1 1 1 1 1 0 0 1 0 1]
106    1
199    0
88     0
80     0
64     0
164    0
39     1
115    1
51     0
146    1
41     1
160    0
185    0
68     0
81     0
187    0
102    1
46     1
100    1
67     0
165    0
24     1
123    1
188    0
117    1
139    1
56     0
175    0
49     1
118    1
110    1
103    1
72     0
1      1
23     1
131    1
166    0
158    0
26     1
85     0
113    1
176    0
22     1
86     0
120    1
19     1
193    0
155    0
79     0
179    0
128    1
111    1
153    0
65     0
114    1
66     0
71     0
12     1
167    0
59     0
Name: sex, dtype: int64
do chinh xac cua mo hinh: 0.7833333333333333

In [ ]:
model = Perceptron(max_iter=1000,eta0=0.3,random_state=0)
model.fit(X_train_std,y_train)
y_pred = model.predict(X_test_std)

print(y_pred)
print(y_test)
print('do chinh xac cua mo hinh:',accuracy_score(y_test,y_pred))

[1 0 0 0 0 0 1 1 0 1 1 1 0 0 0 0 1 1 1 0 0 1 1 0 1 1 0 0 1 1 1 1 0 1 1 1 0
 0 1 0 1 0 1 0 1 1 0 0 0 1 1 1 0 0 1 0 0 1 0 0]
106    1
199    0
88     0
80     0
64     0
164    0
39     1
115    1
51     0
146    1
41     1
160    0
185    0
68     0
81     0
187    0
102    1
46     1
100    1
67     0
165    0
24     1
123    1
188    0
117    1
139    1
56     0
175    0
49     1
118    1
110    1
103    1
72     0
1      1
23     1
131    1
166    0
158    0
26     1
85     0
113    1
176    0
22     1
86     0
120    1
19     1
193    0
155    0
79     0
179    0
128    1
111    1
153    0
65     0
114    1
66     0
71     0
12     1
167    0
59     0
Name: sex, dtype: int64
do chinh xac cua mo hinh: 0.9666666666666667

In [ ]:
data = pd.read_csv('D:\Manage Files\HP\AI\Files\lung_cancer_examples.csv')
data.head()

     Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0    John         Wick   35       3      5       4       1
1    John  Constantine   27      20      2       5       1
2  Camela     Anderson   30       0      5       2       0
3    Alex       Telles   28       0      8       1       0
4   Diego     Maradona   68       4      5       6       1

In [ ]:
data=data.drop('Name',axis=1)
data=data.drop('Surname',axis=1)
data.head()

   Age  Smokes  AreaQ  Alkhol  Result
0   35       3      5       4       1
1   27      20      2       5       1
2   30       0      5       2       0
3   28       0      8       1       0
4   68       4      5       6       1

In [ ]:
X=data.iloc[:,:4]
y=data.iloc[:,4]


X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

# print(X_train,X_train_std)

model = Perceptron(max_iter=2000,eta0=0.1,random_state=0)
model.fit(X_train,y_train)
y_pred = model.predict(X_test)

print(y_pred)
print(y_test)
print('do chinh xac cua mo hinh:',accuracy_score(y_test,y_pred))

[0 1 1 1 1 0 1 0 0 0 0 0 1 0 1 0 1 0]
15    0
0     1
32    1
52    1
28    1
50    0
51    1
23    0
21    0
47    0
54    0
3     0
43    1
45    0
4     1
26    0
39    0
41    0
Name: Result, dtype: int64
do chinh xac cua mo hinh: 0.9444444444444444

In [ ]:
model = Perceptron(max_iter=2000,eta0=0.1,random_state=0)
model.fit(X_train_std,y_train)
y_pred = model.predict(X_test_std)

print(y_pred)
print(y_test)
print('do chinh xac cua mo hinh:',accuracy_score(y_test,y_pred))

[0 0 1 1 1 0 1 0 0 0 0 0 1 0 1 0 0 0]
15    0
0     1
32    1
52    1
28    1
50    0
51    1
23    0
21    0
47    0
54    0
3     0
43    1
45    0
4     1
26    0
39    0
41    0
Name: Result, dtype: int64
do chinh xac cua mo hinh: 0.9444444444444444

In [ ]:
data = pd.read_csv('D:\Manage Files\HP\AI\Files\pima-indians-diabetes.csv')
data

      6  148  72  35    0  33.6  0.627  50  1
0     1   85  66  29    0  26.6  0.351  31  0
1     8  183  64   0    0  23.3  0.672  32  1
2     1   89  66  23   94  28.1  0.167  21  0
3     0  137  40  35  168  43.1  2.288  33  1
4     5  116  74   0    0  25.6  0.201  30  0
..   ..  ...  ..  ..  ...   ...    ...  .. ..
762  10  101  76  48  180  32.9  0.171  63  0
763   2  122  70  27    0  36.8  0.340  27  0
764   5  121  72  23  112  26.2  0.245  30  0
765   1  126  60   0    0  30.1  0.349  47  1
766   1   93  70  31    0  30.4  0.315  23  0

[767 rows x 9 columns]

In [ ]:
X=data.iloc[:,:8]
y=data.iloc[:,-1]

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

# print(X_train,X_train_std)
model = Perceptron(max_iter=150,eta0=0.5,random_state=0)
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
# print(y_pred)
# print(y_test)
print('do chinh xac cua mo hinh:',accuracy_score(y_test,y_pred))

model = Perceptron(max_iter=150,eta0=0.5,random_state=0)
model.fit(X_train_std,y_train)
y_pred = model.predict(X_test_std)

print(y_pred)
print(y_test)
print('do chinh xac cua mo hinh:',accuracy_score(y_test,y_pred))

do chinh xac cua mo hinh: 0.6883116883116883
[0 0 0 0 0 0 1 0 1 0 1 0 0 0 1 0 1 0 1 1 1 0 0 1 1 0 0 0 0 0 0 0 1 0 1 1 1
 1 0 0 0 0 0 1 1 1 1 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0
 0 1 0 0 0 0 1 1 1 0 0 1 0 1 0 1 1 0 0 1 1 1 0 1 1 0 1 0 1 0 0 0 1 0 0 1 0
 0 1 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 0 0 1 0 0 0
 1 0 0 1 1 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 1 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0
 0 1 0 0 0 0 0 0 0]
734    0
696    0
673    0
277    0
573    0
      ..
666    1
679    0
84     0
149    0
117    0
Name: 1, Length: 231, dtype: int64
do chinh xac cua mo hinh: 0.8311688311688312